@media screen and (max-width:1396px) {
    .box {
        width: 29.7%;
      }
     
}
@media screen and (max-width:1200px) {
    .box {
        width: 29%;
      }
     
}
@media screen and (max-width:990px) {
    .box {
        width: 44%;
      }
     
}
@media screen and (max-width:770px) {
    .box {
        width: 94%;
      }
     
}