* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  background-color: rgb(243, 238, 236);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  width: 30.23%;
  min-height: 35vh;
  margin: 20px;
}

.box video {
  width: 100%;
  min-height: 35vh;
}
/* .box1 {
  width: 30.23%;
  min-height: 20vh;
  margin: 20px;
}

.box1 video {
  width: 100%;
  min-height: 20vh;
} */
